{% extends 'base.html' %}

{% block content %}
<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <a class="navbar-brand" href="#">Bodybook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/users/{{user.id}}">Feed<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/{{user.id}}/detail">Profile</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>

<!-- body -->



<div class="container text-center m-5">
      <form method="POST">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}




        <button class="btn btn-primary m-3">Edit Profile</button>

    </form>

<button class="btn btn-danger">Delete Account (currently unavailable)</button>

</div>

{% endblock %}