{% extends 'base.html' %}

{% block content %}


<div class="container text-center m-5">
      <form method="POST">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-primary m-3">Edit Profile</button>

    </form>

<a href="/delete_account/{{user.id}}" method="GET">Delete Account</a>

</div>

{% endblock %}