{% extends 'base.html' %}

{% block content %}
<a href="/logout">Log Out</a>
<a href="/users/{{user.id}}/detail">Profile</a>
<h1>Edit Profile</h1>




      <form method="POST">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-primary btn-block btn-lg">Edit Profile</button>

    </form>

<button class="btn btn-danger">Delete Account (currently unavailable)</button>


{% endblock %}