{% extends 'base.html' %}

{% block content %}
<a href="/logout">Log Out</a>
<a href="/users/{{user.id}}/detail">Profile</a>
<h1>Feed</h1>



<form method="POST">
    {{ form.csrf_token }}
    {{ form.status(placeholder="What's on your mind?") }}
    <button>Add</button>
</form>

{% for post in posts %}
<li>
    <img src="{{post.author.picture}}" alt="user profile photo" width="30" height="30">
    <a href="/users/{{post.author.id}}/detail">{{post.author.name}}</a>
    <p>{{post.status}}</p>
    <p style="font-size:10px;">{{post.timestamp.strftime ('%d %B %Y at %H %M')}}</p>
</li>

{% endfor %}

<h3>Suggested Friends</h3>


{% endblock %}