{% extends 'base.html' %}

{% block content %}

<!-- body -->


<div id="navbar"></div>


<div class="container text-center m-5">
<h1 id="feed">Feed</h1>

<form method="POST" class="mb-4">
    {{ form.csrf_token }}

    {{ form.status(placeholder="What's on your mind?", class="input") }}
    <button id="input-button">Add</button>
</form>



{% for post in posts %}
<ul class="list-group list-group-flush">
<li class="list-group-item">
    <img src="{{post.author.picture}}" alt="user profile photo" width="30" height="30">
    <a href="/users/{{post.author.id}}/detail">{{post.author.name}}</a>
    <p>{{post.status}}</p>
    <p style="font-size:10px;">{{post.timestamp.strftime ('%d %B %Y at %H %M')}}</p>
    {% if post.author.id==g.user.id %}
    <a href="/status/{{post.id}}/delete" class="btn btn-primary btn-sm">Delete</a>
    {% endif %}
</li>
</ul>
{% endfor %}

</div>
<!-- 
<div class="container text-right">
<h3>Suggested Friends</h3>
{% for user in users %}
{{user.name}}
{% endfor %} -->
</div>
{% endblock %}