{% extends 'base.html' %}

{% block content %}
<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <a class="navbar-brand" href="#">Bodybook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/users/{{g.user.id}}/detail"> Profile <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>

<!-- body -->


<div class="container text-center m-5">
<h1 id="feed">Feed</h1>

<form method="POST" class="mb-4">
    {{ form.csrf_token }}

    {{ form.status(placeholder="What's on your mind?", class="input") }}
    <button id="input-button">Add</button>
</form>



{% for post in posts %}
<ul class="list-group list-group-flush">
<li class="list-group-item">
    <img src="{{post.author.picture}}" alt="user profile photo" width="30" height="30">
    <a href="/users/{{post.author.id}}/detail">{{post.author.name}}</a>
    <p>{{post.status}}</p>
    <p style="font-size:10px;">{{post.timestamp.strftime ('%d %B %Y at %H %M')}}</p>
    {% if post.author.id==g.user.id %}
    <a href="/status/{{post.id}}/delete" class="btn btn-primary btn-sm">Delete</a>
    {% endif %}
</li>
</ul>
{% endfor %}

</div>
<!-- 
<div class="container text-right">
<h3>Suggested Friends</h3>
{% for user in users %}
{{user.name}}
{% endfor %} -->
</div>
{% endblock %}