{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
<h2>We are Bodybook</h2>
<h4> Better than Facebook</h4>

<h3>Sign Up</h3>

<form method="POST">
  {{ form.csrf_token }}
  <div>
    {% for field in form if field.widget.input_type != 'hidden' %}
  
      <p>
        {{ field.label }}
        {{ field }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %}
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  Already a member? <a href="/login">Log In</a>



</div>
{% endblock %}