{% extends 'base.html' %}

{% block content %}

<div class="container text-center m-5">
<h2 class="bodybook m-5">Bodybook</h2>
<h6 class="facebook m-5"> ...It's better than Facebook</h6>

<h3 class="mt-5">Sign Up</h3>

<form method="POST">
  {{ form.csrf_token }}
  <div>
    
    {% for field in form if field.widget.input_type != 'hidden' %}
  
      <p>
        {{ field.label }}
        {{ field }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %}
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <p class="m-5">
  Already a member? <a href="/login">Log In</a></p>



</div>
{% endblock %}