{% extends 'base.html' %}

{% block content %}


  <div class="container text-center">
    <div id="background-video">
      <video autoplay muted loop id="video-bg">
        <source src="{{ url_for('static', filename='images/video.mp4') }}" type="video/mp4">
      </video>
    </div>

  
  <h2 class="animated-text">Bookface</h2>

<p class="intro">Introducing the next big thing in social media - a platform that will revolutionize the way we connect, share, and interact online. Imagine a world where you can build meaningful relationships, share your thoughts and experiences, and discover new opportunities with ease. Our app combines the best features of Facebook with cutting-edge technology to provide a seamless and personalized user experience. Get ready to join the social media revolution - the future is here.</p>

<h3 class="mt-5">Sign Up</h3>

<form method="POST" class="signup-form">
  {{ form.csrf_token }}
  <div>
    
    {% for field in form if field.widget.input_type != 'hidden' %}
  
      <p>
        {{ field.label }}
        {{ field }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %}
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <p class="m-5">
  Already a member? <a href="/login">Log In</a></p>

</div>


{% endblock %}